<!DOCTYPE html>

<html class="age-overlay">
    <head>
        <link rel="stylesheet" href="/stylesheets/meyerreset.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <body>

        <div class="section-title">
            <h1>Meeting participants</h1>
        </div>
        
        <div class="section-list">
            <ul>
                <li>giovanni vigorelli sales engineer</li>
                <li>do nguyen sales engineer</li>
            </ul>
        </div>
    </body>
</html>